 #projectsSection {
	height: 110vh;
	overflow: auto;
	transform: skewY(-7deg);
	background: #9DE0AD;
	-webkit-transform-origin: 50%  53%;	
		filter: contrast(1.5);


}

#projectsSection-container {
	transform: skewY(7deg);
	-webkit-transform-origin: 50%  53%;	
	filter: saturate(1.2);
}
#projectsSection-cards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.projectHead{
	cursor: default;
}
.projectPic{
	cursor: default;
	width: 320px;
	filter: contrast(0.67);
	filter: saturate(0.83);
}
.card{
	width: 350px ;
}

@media screen and (max-width: 800px){
	#projectsSection{
		/*height: 153vh;*/
	}
}

@media screen and (max-width: 500px){
	#projectsSection{
		/*height: 227vh;*/
	}
}