# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
react_code/node_modules

# testing
react_code/coverage

# production
react_code/build

# misc
react_code/.DS_Store
react_code/.env.local
react_code/.env.development.local
react_code/.env.test.local
react_code/.env.production.local

react_code/npm-debug.log*
react_code/yarn-debug.log*
react_code/yarn-error.log*
